a {
    color:white;
    text-align: center;
}

.navbar-navbar-expand-lg navbar-light bg-light {
    float: right;

}
.name {
    display: block;
    background-color: #4aaaa5;
    float: left;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-left: 100px;
    color: white;
    text-align: center;
    font-size: 22px;
}

body {
    display: block;
    padding-top: 20px;
    margin: auto;
    background: url(../images/webb.png);
    background-position:-25px 100% ;
}

.box1 {
    display: block;
    margin: auto;
    background: white;
    background-position: 100% 100%;
    width: 60%;
    border: 1px rgb(102, 99, 99);
    padding-top: 15px;
    padding-bottom: 40px;
    padding-left: 10px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: gray;
    color: white;
    text-align: center;
}
#footertext {
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding-bottom: 15px;
    padding-left: 10px;
    border-bottom: 5px, black;
}

p {
    color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav.justify-content-end li a {
    color: gray;
    margin-right: 30px;
}

header {
    background-color: white;
    border-bottom: 10px, black;
    margin-top: -20px;
    height: 65px;
    width: 100%;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
}

.card-title {
    background: #4aaaa5;
    color: white;
}

.card2 {
    display: block;
    float: clear right;
}

.centered {
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    top: 75%;
    left: 32%;
    transform: translate(-75%, -25%)
}

.btn.btn-primary {
    background-color: #4aaaa5;
}